body#LoginForm{  background-image: url(cars-parked.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  height: 100%;
  z-index: -1;}

.form-heading { 
 
  color:#4B0082;
    font-size:23px;}
.panel h2{ color:  #FFFFFF; font-family: arial; font-size:28px; margin:0 0 8px 0;}
.panel p { color:#F5F5F5; font-size:18px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #D3D3D3 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background-color:rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
  position: center;
}

.login-form .form-group {
  margin-bottom:50px;
}
.login-form{ color: #FFFFFF;
  text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #B22222 none repeat scroll 0 0;
  border-color: #B22222;
  color: #ffffff;
  font-size: 20px;
  width: 500px;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}
